%h1 Mapping

%div{:style => 'display: none'}
  #info0
    info0
    = link_to 'next', '1', :class => 'next'
  #info1
    info1
    = link_to 'next', '2', :class => 'next'
  #info2
    info2
    = link_to 'next', '0', :class => 'next'

#map{:style => "width: 1400px; height: 400px;"}
